h1{
    text-align: center;
    color: white;
    padding: 40px;
    font-family: cursive;
    font-size: 80px;
}
body{
    background-color: rgb(27, 27, 71);
}
p{
    text-align: center;
    font-size: 60px;
    color: white;
}
button{
    width: 180px;
    height: 100px;
    margin: 30px;
    background-color:rgb(27, 27, 71);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    
}
button:hover{
    background-color: white;
    color: orange;
}
#click{
    text-align: center;
}
#nav{
    padding: 10px;
    margin: 5px;
}